{% extends "base.html" %}

{% block title %}Home - Leave Management System{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Welcome to HopeBridge Foundation Employees Leave Management System </h1>
    <p class="lead">Manage your leaves with ease.</p>

    {% if user.is_authenticated %}
        <div class="mt-4">
            <h4>Hello, {{ user.first_name|default:user.username }}!</h4>
            <p>You are logged in as <strong>{% if user.is_staff %}Manager/Admin{% else %}Employee{% endif %}</strong>.</p>

            <div class="d-flex justify-content-center gap-3 mt-3">
                <!-- <a href="{% url 'apply_leave' %}" class="btn btn-primary">Apply for Leave</a>
                <a href="{% url 'my_leaves' %}" class="btn btn-outline-secondary">My Leave Requests</a> -->
                {% if user.is_staff %}
                    <a href="{% url 'admin_leave_list' %}" class="btn btn-warning">Manage Requests</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
            <a href="{% url 'register' %}" class="btn btn-outline-info">Register</a>
        </div>
    {% endif %}
</div>
{% endblock %}
