{% extends "base.html" %}

{% block title %}Settings - Leave Management System{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Settings</h2>
    <div class="list-group text-align-center">
        <a href="#" class="list-group-item list-group-item-action">Account Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Notification Preferences</a>
        <a href="#" class="list-group-item list-group-item-action">Privacy Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Security</a>
        <a href="#" class="list-group-item list-group-item-action">Help & Support</a>
    </div>
</div>
{% endblock %}
